<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnOptionalTests="true"
         failOnRisky="true"
         failOnWarning="true">

    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0" />
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="{{BUNDLE_CLASS}} Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>